<%@ Master Language="C#" AutoEventWireup="true" CodeFile="ShopTheTopMasterPage.master.cs" MasterPageFile="~/master/BaseMasterPage.master" Inherits="master_ShopTheTopMasterPage" %>
<%@ Register Src="~/common/controls/TopMenu.ascx" TagPrefix="totr" TagName="TopMenu"   %>
<asp:Content ContentPlaceHolderID="ContentTopMenu" runat="server" ID="ContentTopMenu">
   <totr:TopMenu ID="wc_TopMenu" runat="server" SelectedMenu="Totr_Shop" />
</asp:Content>
<asp:Content ContentPlaceHolderID="ContentBodyHolder" runat="server" ID="BodyHolder">
    <asp:ContentPlaceHolder ID="ContentBodyHolder" runat="server" />
</asp:Content>
